<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmm.weixin.dao.SinglePageMapper">
  <resultMap id="BaseResultMap" type="com.mmm.weixin.vo.SinglePage">
    <id column="PageId" jdbcType="INTEGER" property="pageid" />
    <result column="Title" jdbcType="VARCHAR" property="title" />
    <result column="Contents" jdbcType="VARCHAR" property="contents" />
    <result column="AppendTime" jdbcType="TIMESTAMP" property="appendtime" />
    <result column="LastTime" jdbcType="TIMESTAMP" property="lasttime" />
    <result column="ReadCount" jdbcType="INTEGER" property="readcount" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from m_singlepage
    where PageId = #{pageid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mmm.weixin.vo.SinglePage">
    insert into m_singlepage (PageId, Title, Contents, 
      AppendTime, LastTime, ReadCount
      )
    values (#{pageid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{contents,jdbcType=VARCHAR}, 
      #{appendtime,jdbcType=TIMESTAMP}, #{lasttime,jdbcType=TIMESTAMP}, #{readcount,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mmm.weixin.vo.SinglePage">
    update m_singlepage
    set Title = #{title,jdbcType=VARCHAR},
      Contents = #{contents,jdbcType=VARCHAR},
      AppendTime = #{appendtime,jdbcType=TIMESTAMP},
      LastTime = #{lasttime,jdbcType=TIMESTAMP},
      ReadCount = #{readcount,jdbcType=INTEGER}
    where PageId = #{pageid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select PageId, Title, Contents, AppendTime, LastTime, ReadCount
    from m_singlepage
    where PageId = #{pageid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select PageId, Title, Contents, AppendTime, LastTime, ReadCount
    from m_singlepage
  </select>
</mapper>