<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmm.weixin.dao.UserChargeMapper">
  <resultMap id="BaseResultMap" type="com.mmm.weixin.vo.UserCharge">
    <id column="Cid" jdbcType="INTEGER" property="cid" />
    <result column="Pid" jdbcType="CHAR" property="pid" />
    <result column="PayCode" jdbcType="VARCHAR" property="payCode" />
    <result column="PayAmount" jdbcType="INTEGER" property="payAmount" />
    <result column="PayMethod" jdbcType="INTEGER" property="payMethod" />
    <result column="AppendTime" jdbcType="TIMESTAMP" property="appendTime" />
    <result column="PayTime" jdbcType="TIMESTAMP" property="payTime" />
    <result column="PayCertificate" jdbcType="VARCHAR" property="payCertificate" />
    <result column="PaySerialNumber" jdbcType="VARCHAR" property="paySerialNumber" />
    <result column="PayStateCode" jdbcType="INTEGER" property="payStateCode" />
    <result column="PayRemark" jdbcType="VARCHAR" property="payRemark" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from m_purse_charge
    where Cid = #{cid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mmm.weixin.vo.UserCharge">
    insert into m_purse_charge (Cid, Pid, PayCode, 
      PayAmount, PayMethod, AppendTime, 
      PayTime, PayCertificate, PaySerialNumber, 
      PayStateCode, PayRemark)
    values (#{cid,jdbcType=INTEGER}, #{pid,jdbcType=CHAR}, #{payCode,jdbcType=VARCHAR}, 
      #{payAmount,jdbcType=INTEGER}, #{payMethod,jdbcType=INTEGER}, #{appendTime,jdbcType=TIMESTAMP}, 
      #{payTime,jdbcType=TIMESTAMP}, #{payCertificate,jdbcType=VARCHAR}, #{paySerialNumber,jdbcType=VARCHAR}, 
      #{payStateCode,jdbcType=INTEGER}, #{payRemark,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mmm.weixin.vo.UserCharge">
    update m_purse_charge
    set Pid = #{pid,jdbcType=CHAR},
      PayCode = #{payCode,jdbcType=VARCHAR},
      PayAmount = #{payAmount,jdbcType=INTEGER},
      PayMethod = #{payMethod,jdbcType=INTEGER},
      AppendTime = #{appendTime,jdbcType=TIMESTAMP},
      PayTime = #{payTime,jdbcType=TIMESTAMP},
      PayCertificate = #{payCertificate,jdbcType=VARCHAR},
      PaySerialNumber = #{paySerialNumber,jdbcType=VARCHAR},
      PayStateCode = #{payStateCode,jdbcType=INTEGER},
      PayRemark = #{payRemark,jdbcType=VARCHAR}
    where Cid = #{cid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select Cid, Pid, PayCode, PayAmount, PayMethod, AppendTime, PayTime, PayCertificate, 
    PaySerialNumber, PayStateCode, PayRemark
    from m_purse_charge
    where Cid = #{cid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select Cid, Pid, PayCode, PayAmount, PayMethod, AppendTime, PayTime, PayCertificate, 
    PaySerialNumber, PayStateCode, PayRemark
    from m_purse_charge
  </select>
</mapper>