<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmm.weixin.dao.ShopTypeFieldValueMapper">
  <resultMap id="BaseResultMap" type="com.mmm.weixin.vo.ShopTypeFieldValue">
    <id column="ValueId" jdbcType="INTEGER" property="valueId" />
    <result column="FieldId" jdbcType="INTEGER" property="fieldId" />
    <result column="ValueText" jdbcType="VARCHAR" property="valueText" />
    <result column="ShopId" jdbcType="INTEGER" property="shopId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from m_shoptypefieldvalue
    where ValueId = #{valueId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mmm.weixin.vo.ShopTypeFieldValue">
    insert into m_shoptypefieldvalue (ValueId, FieldId, ValueText, 
      ShopId)
    values (#{valueId,jdbcType=INTEGER}, #{fieldId,jdbcType=INTEGER}, #{valueText,jdbcType=VARCHAR}, 
      #{shopId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mmm.weixin.vo.ShopTypeFieldValue">
    update m_shoptypefieldvalue
    set FieldId = #{fieldId,jdbcType=INTEGER},
      ValueText = #{valueText,jdbcType=VARCHAR},
      ShopId = #{shopId,jdbcType=INTEGER}
    where ValueId = #{valueId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select ValueId, FieldId, ValueText, ShopId
    from m_shoptypefieldvalue
    where ValueId = #{valueId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ValueId, FieldId, ValueText, ShopId
    from m_shoptypefieldvalue
  </select>
  <select id="selectByCondition" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select ValueId, FieldId, ValueText, ShopId
  	from m_shoptypefieldvalue
  	where ShopId = #{shopId}
  </select>
</mapper>